<!DOCTYPE html>
<html>
  <head>
    <title>Martin&Georgina</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600,800" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
